<div class="content">
  <div class="upload-container">
  <mat-card class="upload-section">
    <mat-card-header>
      <mat-card-title> Ubacite excel dokument za hranu </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="file-upload-wrapper">
      <input type="file" (change)="onFoodFileChange($event)" />
      <label for="file-upload" class="file-upload-label">
        <mat-icon>attach_file</mat-icon>
        <span class="upload-text">Choose file</span>
        <div *ngIf="selectedFoodFile?.name" class="file-name">{{ selectedFoodFile?.name }}</div>
      </label> 
      </div>
      <mat-form-field>
        <mat-label>Ime sheet-a</mat-label>
        <input matInput type="text" [(ngModel)]="foodSheetName" placeholder="Ime sheet-a"  />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="upload-section">
    <mat-card-header>
      <mat-card-title> Ubacite excel dokument za meso </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="file-upload-wrapper">
        <input type="file" id="file-upload" (change)="onMeatFileChange($event)" />
        <label for="file-upload" class="file-upload-label">
          <mat-icon>attach_file</mat-icon>
          <span class="upload-text">Choose file</span>
          <div *ngIf="selectedMeatFile?.name" class="file-name">{{ selectedMeatFile?.name }}</div>
        </label>  
      </div> 
      <mat-form-field>
        <mat-label>Ime sheet-a</mat-label>
        <input matInput type="text" [(ngModel)]="meatSheetName" placeholder="Ime sheet-a"  />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  </div>

  <div class="button">
    <button class="primary-button mat-button" (click)="uploadFile()">Obradi excel dokumente</button>
  </div>
  <div class="button">
    <button class="secondary-button mat-button" (click)="startNewBusinessYear()" *ngIf="this.warehouseIngredients.length !== 0"> Započni novu poslovnu godinu </button>
  </div>

  <div class="center-table">
  <table class="ingredient-table" *ngIf="this.warehouseIngredients.length > 0">
    <thead>
      <tr>
        <th>Namirnica-magacin</th>
        <th>Namirnica-kuhinja</th>
        <th>Pretraži/Dodaj</th>
        <th>Skaliranje</th>
        <th>Jedinica mere magacin</th>
        <th>Potvrdi/Otkaži</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of warehouseIngredients" [ngClass]="{'confirmed-row': i.isConfirmed}">
        <td>{{ i.name }}</td>
        <td>
          <ng-container *ngIf="i.ingredient !== undefined; else noMatch">
            {{ i.ingredient.name }} ({{ i.ingredient.unit.shortName }})
          </ng-container>
          <ng-template #noMatch>
            Nije pronađeno
          </ng-template>
        
        </td>
        <td class="table-button">
          <button class="small-primary-button mat-button" [disabled]="i.isConfirmed" (click)="openSearchIngredientDialog(i)">Pretraži</button>
          <button class="small-secondary-button mat-button" [disabled]="i.isConfirmed" (click)="openAddIngredientDialog(i)">Dodaj</button>
        </td>
        <td>
          <input type="number" [(ngModel)]="i.scale" [disabled]="i.isConfirmed || i.ingredient?.unit?.shortName === i.warehouseUnitShortName"  />
        </td>
        <td>{{ i.warehouseUnitShortName }}</td>
        <td>
          <button class="mat-button" [ngClass]="i.isConfirmed ? 'small-secondary-button' : 'small-primary-button'" (click)="confirmRow(i)">{{ i.isConfirmed ? 'Otkazi' : 'Potvrdi' }}</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>