<br>
<mat-tab-group  (selectedTabChange)="onSelectedMealTabChange($event)" [selectedIndex]="selectedMealTabIndex">
    <mat-tab *ngFor="let mealType of mealTypes; let mealTypeIndex = index">
    <ng-template mat-tab-label>
        <div>
        <div>{{ mealType.name }}</div> 
        <mat-icon class="checked" *ngIf="isMealValid( mealType.value)">check_circle_outline</mat-icon> 
        <mat-icon class="not-checked" *ngIf="!isMealValid( mealType.value)">highlight_off</mat-icon>    
        </div>   
    </ng-template>



    <div class="container">

        <form [formGroup]="mealFormGroup">
            <mat-card class="title-card">
                <mat-card-title>Unesite brojno stanje:</mat-card-title>
            </mat-card>
        <div [ngClass]="getColumnsClass(mealType.value, consumerTypes)">
            <div *ngFor="let consumerType of consumerTypes">
            <mat-form-field  *ngIf="shouldRenderSnackInput(mealType.value, consumerType.value)">
                <mat-label>{{ consumerType.name }}:</mat-label>
                <input type="number" matInput [formControlName]="getFormControlName(mealType.value, consumerType.value)">

            </mat-form-field>
            </div>
        </div>
        <div class="button">
            <button class="next-button mat-button" (click)="showNextTab()">DALJE</button>
        </div>
        </form>
    </div>
    </mat-tab>
</mat-tab-group>

<div class="containter button">
    <button class="confirm-button mat-button" (click)="createConsumerQuantityList()">POTVRDI BROJNO STANJE</button>
</div>
