<h1 class="styled-heading">Namirnice</h1>

<div class="search-container center">
  <mat-form-field class="margin" >
    <mat-label>Pretraži namirnice</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Unesite ime namirnice" change>
  </mat-form-field>
  <button class="confirm-button mat-button" (click)="addIngredient()">Dodaj novu namirnicu</button>
</div>

<div class="ingredients-container center">
  <div class="ingredient-card" *ngFor="let ingredient of filteredIngredients">
    <span class="name">{{ ingredient.name }}</span>
    <div class="ingredient-item">
      <span class="label">Kalorije:</span>
      <span class="value">{{ ingredient.calories }} cal</span>
    </div>
    <div class="ingredient-item">
      <span class="label">Ugljeni hidrati:</span>
      <span class="value">{{ ingredient.carbohydrates }} g</span>
    </div>
    <div class="ingredient-item">
      <span class="label">Proteini:</span>
      <span class="value">{{ ingredient.proteins }} g</span>
    </div>
    <div class="ingredient-item">
      <span class="label">Masti:</span>
      <span class="value">{{ ingredient.fats }} g</span>
    </div>
    <div class="ingredient-item">
      <span class="label">Šećeri:</span>
      <span class="value">{{ ingredient.sugar }} g</span>
    </div>
    <div class="center">
      <button class="button mat-button" at-icon-button (click)="updateIngredient(ingredient)">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="button mat-button" mat-icon-button (click)="deleteIngredient(ingredient.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>