<!--<div class="table">
    <table>
        <tr >
            <th *ngFor="let day of daysOfWeek" > 
                <div>{{day.name}}</div>
                <div>{{day.date | date: 'dd/MM/yyyy'}}</div>
                <mat-icon *ngIf="day.checked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.checked" class="not-checked">highlight_off</mat-icon>
            </th>
        </tr>
    </table>
 </div>


    <table>
        <tr >
            <th *ngFor="let type of mealTypes" > 
                <div>{{type.name}}</div>
            </th>
        </tr>
    </table>
 </div>
-->

<div class="button">
    <button class="confirm-button mat-button" >POTVRDI NEDELJNI MENI</button>
 </div>

<mat-tab-group [(selectedIndex)]="selectedDayIndex">
    <mat-tab *ngFor="let day of daysOfWeekTabs; let i = index" [label]="day.name">
        <ng-template mat-tab-label>
            <div>
                <div>{{day.name}} ({{day.date | date: 'dd.MM.yyyy.'}})</div>
                <mat-icon *ngIf="day.breakfastChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.breakfastChecked" class="not-checked">highlight_off</mat-icon>
                <mat-icon *ngIf="day.lunchChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.lunchChecked" class="not-checked">highlight_off</mat-icon>
                <mat-icon *ngIf="day.dinnerChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.dinnerChecked" class="not-checked">highlight_off</mat-icon>
                <mat-icon *ngIf="day.morningSnackChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.morningSnackChecked" class="not-checked">highlight_off</mat-icon>
                <mat-icon *ngIf="day.dinnerSnackChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.dinnerSnackChecked" class="not-checked">highlight_off</mat-icon>
                <mat-icon *ngIf="day.lunchSaladChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.lunchSaladChecked" class="not-checked">highlight_off</mat-icon>
                <mat-icon *ngIf="day.dinnerSaladChecked" class="checked">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!day.dinnerSaladChecked" class="not-checked">highlight_off</mat-icon>
            </div>
          </ng-template>

       
        <div class="tab-content">

            <div class="container">
                <mat-tab-group [selectedIndex]="selectedMealIndex">
                  <mat-tab *ngFor="let type of mealTypes; let i = index" [label]="type.name">
                    <ng-template mat-tab-label>
                        <div>
                            <div>{{type.name}}</div>
                            <!-- <mat-icon class="checked">check_circle_outline</mat-icon>-->
                            <mat-icon class="not-checked">highlight_off</mat-icon>
                        </div>
                      </ng-template>
                   
                        <div class="container">
                            <form [formGroup]="mealForm">
                              <div>
                                <mat-form-field>
                                  <mat-label>Trudnice:</mat-label>
                                  <mat-select  formControlName="pregnant">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                          
                              <div>
                                <mat-form-field>
                                  <mat-label>Operisni pacijenti:</mat-label>
                                  <mat-select formControlName="operated">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                          
                              <div>
                                <mat-form-field>
                                  <mat-label>Blagi pacijenti:</mat-label>
                                  <mat-select formControlName="mild">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                          
                              <div>
                                <mat-form-field>
                                  <mat-label>Standardni pacijenti:</mat-label>
                                  <mat-select formControlName="standard">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                        
                              <div>
                                <mat-form-field>
                                  <mat-label>Doktori:</mat-label>
                                  <mat-select formControlName="doctors">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              
                              <div>
                                <mat-form-field>
                                  <mat-label>Deca(2-4):</mat-label>
                                  <mat-select formControlName="childrenFrom2To4">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              
                              <div>
                                <mat-form-field>
                                  <mat-label>Deca(4-14):</mat-label>
                                  <mat-select formControlName="childrenFrom4To14">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                        
                              <div>
                                <mat-form-field>
                                  <mat-label>Dijabeticari:</mat-label>
                                  <mat-select formControlName="diabetic">
                                    <mat-option value="Jaja sa sirom">Jaja sa sirom</mat-option>
                                    <mat-option value="Sendvici">Sendvici</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </form>
                          </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
            
    </mat-tab>
</mat-tab-group>
    
 