.center{
    display: flex;
    justify-content: center;
    align-content: center;
}

.confirm-button.mat-button {
    background-color: #003B6D;
    color: white; 
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    font-size: large;
    width: 200px;
}