.content {
  height: max-content;
  background-color: #F5F5F5; 
  border-radius: 16px;
  padding: 15px; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  margin: 15px; 
}

.header {
  position: relative;
  text-align: center;
}

.header-top {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search-content {
  background-color: #ffffff; 
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
  margin: 10px; 
  min-width: 400px;
  width: 500px;
  max-width: 500px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: #616161;
}

mat-form-field{
  margin-top: 10px;
  width: 100%;
}

.primary-button.mat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px; 
  font-size: 18px; 
  border-radius: 8px; 
  text-transform: uppercase; 
  font-weight: bold; 
  background-color: #003B6D; 
  border-color: #003B6D;
  color: #ffffff;
}

.primary-button.mat-button:hover {
  background-color: #002C51;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.meal-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
  position: relative;
}

.meal-card .name {
  font-size: 1.5em;
  color: #003B6D;
  margin-bottom: 10px;
}

.meal-card .calories {
  font-size: 1rem;
  color: #666; 
  margin: 15px 0;
  padding: 5px 0; 
  text-align: center;
}

.meal-calories::before {
  content: "Kalorije:      ";
  font-weight: bold; 
}

.ingredients-list {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px; 
  margin-bottom: 10px;
}

.ingredient-item {
  display: contents;
}

.ingredient-name, 
.ingredient-quantity, 
.ingredient-unit {
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 0.9rem; 
  color: #666;
}

.ingredient-name {
  font-weight: bold;
}

.ingredient-quantity {
  font-style: italic;
}

.ingredient-unit {
  font-style: italic;
  color: #666;
}

.primary-button.mat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px; 
  font-size: 18px; 
  border-radius: 8px; 
  text-transform: uppercase; 
  font-weight: bold; 
  background-color: #003B6D; 
  border-color: #003B6D;
  color: #ffffff;
}

.primary-button.mat-button:hover {
  background-color: #002C51;
}


.small-primary-button,
.small-secondary-button{
  border-radius: 8px; 
  text-transform: uppercase; 
  width: 170px;
  margin: 10px;
}

.small-primary-button.mat-button {
  background-color: #003B6D; 
  border-color: #003B6D;
  color: #ffffff;
}

.small-secondary-button.mat-button {
  border-color: #830005; 
  background-color:#830005; 
  color: #ffffff;
  margin-right: 10px;
}

.small-primary-button.mat-button:hover {
  background-color: #002C51;
}

.small-secondary-button.mat-button:hover {
  background-color: #570003;
}

.mat-icon {
  font-size: 16px;
  margin-top: 8px;
}

.buttons {
  margin-top: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

