<h1 class="styled-heading">Jela</h1>
<div class="search-container center">
  <mat-form-field class="margin">
    <mat-label>Pretraži jela</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Unesite ime jela" change>
  </mat-form-field>
  <button class="confirm-button mat-button" (click)="addMeal()">Dodaj novo jelo</button>
</div>

<br>

<div class="meals-container">
  <div class="meal-card" *ngFor="let meal of filteredMeals">
    <h2 class="meal-name">{{ meal.name }}</h2>
    <h6 class="meal-calories">{{ meal.calories }} kCal</h6>
    <div class="ingredients-list">
      <div class="ingredient-item" *ngFor="let iq of meal.ingredients">
        <span class="ingredient-name">{{ iq.ingredientName }}</span>
        <span class="ingredient-quantity">{{ iq.quantity }}</span>
        <span class="ingredient-unit">{{ iq.unitShortName }}</span>
      </div>
    </div>
    <div class="center">
      <button class="button mat-button" mat-icon-button (click)="updateMeal(meal)">
        <mat-icon>edit</mat-icon>
      </button>
      <button  class="button mat-button" mat-icon-button (click)="deleteMeal(meal)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>