.meals-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  justify-content: center;
}

.meal-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px; 
  max-width: 100%; 
  box-sizing: border-box; 
}

.meal-name {
  font-size: 1.25rem; 
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.meal-calories {
  font-size: 1rem;
  color: #333; 
  margin: 15px 0;
  padding: 5px 0; 
  text-align: center;
}

.meal-calories::before {
  content: "Kalorije:      ";
  font-weight: bold; 
}

.ingredients-list {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px; 
  margin-bottom: 10px;
}

.ingredient-item {
  display: contents;
}

.ingredient-name, 
.ingredient-quantity, 
.ingredient-unit {
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 0.9rem; 
  color: #333;
}

.ingredient-name {
  font-weight: bold;
}

.ingredient-quantity {
  font-style: italic;
}

.ingredient-unit {
  font-style: italic;
  color: #666;
}

.styled-heading {
  text-align: center;
  font-size: 2rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 2px solid #007bff;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-button.mat-button {
background-color: #003B6D;
color: white; 
border-radius: 10px;
margin: 16px;
margin-left: 32px;
padding: 16px;
font-size: large;
}