<h1 class="styled-heading">Jela</h1>
<div class="search-container">
  <mat-form-field class="full-width">
    <mat-label>Pretraži jela</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Unesite ime jela" change>
  </mat-form-field>
</div>
<div class="action-container">
  <button (click)="addMeal()">Dodaj</button>
</div>
<div class="meals-container">
  <div class="meal-card" *ngFor="let meal of meals">
    <h2 class="meal-name">{{ meal.name }}</h2>
    <h6 class="meal-calories">{{ meal.calories }} kCal</h6>
    <div class="ingredients-list">
      <div class="ingredient-item" *ngFor="let iq of meal.ingredients">
        <span class="ingredient-name">{{ iq.ingredientName }}</span>
        <span class="ingredient-quantity">{{ iq.quantity }}</span>
        <span class="ingredient-unit">{{ iq.unitShortName }}</span>
      </div>
    </div>
    <div>
      <button mat-icon-button (click)="updateMeal(meal)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteMeal(meal.id || 0)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>