<div *ngIf="!weeklyMenu" class="no-menu-message">Ne postoji novi meni u bazi. </div>
<div *ngIf="!weeklyMenu" class="center">
   <div><button [routerLink]="'/custom-menu'" class="confirm-button mat-button">Novi meni</button></div> 
   <div><button class="confirm-button mat-button" (click)="showTabularView()">Meni po sablonu</button></div> 
</div>

<mat-tab-group *ngIf="weeklyMenu" (selectedTabChange)="onSelectedDayTabChange($event)">
   <mat-tab *ngFor="let day of daysOfWeek; let dayIndex = index">
     <ng-template mat-tab-label>
       <div>
         <div>{{day.name}} </div>
         <div>({{ getDayDate(dayIndex) }})</div>
       </div>
     </ng-template>

   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   <ng-container matColumnDef="consumerType">
     <th mat-header-cell *matHeaderCellDef></th>
     <td mat-cell *matCellDef="let element"><b>{{ element.consumerType }}</b></td>
   </ng-container>
 
   <ng-container *ngFor="let mealType of mealTypes" [matColumnDef]="mealType.value.toString()">
     <th mat-header-cell *matHeaderCellDef><b class="center"> {{ mealType.name }} </b></th>
     <td mat-cell *matCellDef="let element" [ngClass]="getMealTypeClass(mealType.value)">
       <div class="center">{{ element[mealType.value.toString()] }}</div>
     </td>
   </ng-container>
 
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
 </mat-tab>
</mat-tab-group>