<div class="content">
<mat-tab-group (selectedTabChange)="onSelectedMenuStatusTabChange($event)" [selectedIndex]="selectedMenuTabIndex">
  <mat-tab *ngFor="let menuStatus of weeklyMenuStatuses; let mealTypeIndex = index">
    <ng-template mat-tab-label>
      <div>{{ menuStatus.name }}</div>
    </ng-template>

    <div>
      <mat-tab-group *ngIf="selectedWeeklyMenu" (selectedTabChange)="onSelectedDayTabChange($event)" [selectedIndex]="selectedDayTabIndex">
        <mat-tab *ngFor="let day of daysOfWeek; let dayIndex = index">
          <ng-template mat-tab-label>
            <div>{{ day.name }} <br> ({{ getDayDate(dayIndex) }})</div>
          </ng-template>

          <table id="tableToExport" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="consumerType">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"><b>{{ element.consumerType }}</b></td>
            </ng-container>

            <ng-container *ngFor="let mealType of mealTypes" [matColumnDef]="mealType.value.toString()">
              <th mat-header-cell *matHeaderCellDef><b class="center"> {{ mealType.name }} </b></th>
              <td mat-cell *matCellDef="let element" [ngClass]="getMealTypeClass(mealType.value)">
                <div class="center">{{ element[mealType.value.toString()] }}</div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>  
    </div>
  </mat-tab>
</mat-tab-group>

<div *ngIf="!selectedWeeklyMenu" class="no-menu-message">
  Zeljeni meni ne postoji u bazi.
  </div>

<div class="center">
  <div *ngIf="!selectedWeeklyMenu && selectedMenuTabIndex === 1" class="center">
    <button [routerLink]="'/custom-menu'" class="primary-button mat-button">Novi meni</button>
    <button class="primary-button mat-button" (click)="showTabularDefaultMenu()">Meni po sablonu</button>
  </div>
  <div  class="center">
    <button *ngIf="selectedWeeklyMenu" class="primary-button mat-button" (click)="exportToPDF()">Preuzmi Jelovnik</button>
    <button *ngIf="selectedWeeklyMenu" class="primary-button mat-button" (click)="exportToPDF()">Preuzmi Jelovnik sa količinama</button>
    <button *ngIf="selectedWeeklyMenu && selectedMenuTabIndex === 1" class="secondary-button mat-button" (click)="changeNewMenu()">Izmeni Jelovnik</button>
  </div>
 
</div>

</div>