.custom-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the dialog content vertically */
}

.mat-dialog-content {
  text-align: center; /* Center text inside the dialog content */
}

.mat-dialog-actions {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  padding: 16px; /* Optional: adjust padding */
}

.mat-dialog-actions button {
  margin: 0 8px; /* Space buttons apart */
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.primary-button.mat-button,
.secondary-button.mat-button {
  padding: 12px 24px; 
  font-size: 18px; 
  border-radius: 8px; 
  text-transform: uppercase; 
  font-weight: bold; 
  width: 150px;
}

.primary-button.mat-button {
  background-color: #003B6D; 
  border-color: #003B6D;
  color: #ffffff;
  margin: 0 10px;
}

.primary-button.mat-button:hover {
  background-color: #002C51;
}

.secondary-button.mat-button {
  border-color: #830005; 
  background-color: #830005; 
  color: #ffffff;
  margin: 0 10px;
}

.secondary-button.mat-button:hover {
  background-color: #570003;
}