<mat-tab-group (selectedTabChange)="onSelectedDayTabChange($event)"  [selectedIndex]="selectedDayTabIndex">
  <mat-tab *ngFor="let day of daysOfWeek; let dayIndex = index">
    <ng-template mat-tab-label>
      <div>
        <div>{{day.name}}</div>
        <!--ICONS-->
      </div>
    </ng-template>

    <div class="tab-content">
      <mat-tab-group  (selectedTabChange)="onSelectedMealTabChange($event, dayIndex)" [selectedIndex]="selectedMealTabIndex">
        <mat-tab *ngFor="let mealType of mealTypes; let mealTypeIndex = index">
          <ng-template mat-tab-label>
            <div>
              <div>{{mealType.name}}</div>
            </div>
          </ng-template>

          <div class="container">
            <form [formGroup]="mealFormGroup">
              <div class="form-fields-container">
                <div *ngFor="let consumerType of consumerTypes">
                  <mat-form-field class="form-field-margin">
                    <mat-label>{{ consumerType.name }}:</mat-label>
                    <input type="text" matInput [formControlName]="getFormControlName(day.value, mealType.value, consumerType.value)" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayName">
                      <mat-option *ngFor="let option of (filteredOptions[getFormControlName(day.value, mealType.value, consumerType.value)] | async) ?? []" [value]="option">
                        {{ option.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div class="button">
                <button class="next-button mat-button" (click)="showNextTab()">DALJE</button>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="button">
  <button class="confirm-button mat-button" [disabled]="!canConfirm" (click)="showTabularView()">POTVRDI NEDELJNI MENI</button>
</div>
