<div class="content">

  <div class="header">
    <div class="header-top">
      <button class="primary-button mat-button" (click)="showYearlyExcelImport()"> 
        <mat-icon>backup icon</mat-icon>  Nova poslovna godina
      </button>
    </div>
  </div>

  <div class="center">
    <mat-card class="search-content">
        <mat-card-header> <mat-card-title>Pretraga magacina </mat-card-title></mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Unesite ime namirnice</mat-label>
          <input matInput [formControl]="searchControl" placeholder="Unesite ime jela" change>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="center-table">
    <table class="ingredient-table" *ngIf="this.filteredIngredients.length > 0">
      <thead>
        <tr>
          <th>Namirnica-kuhinja</th>
          <th>Magacinski naziv</th>
          <th>Količina</th>
          <th>Jedinica mjere</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of filteredIngredients">
          <td>{{ i.ingredient.name }}</td>
          <td>{{ i.warehouseLabel }}</td>
          <td>{{ i.quantity }}</td>
          <td>{{ i.ingredient.unit.shortName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>