<mat-toolbar class="mat-elevation-z8">
  <button mat-button routerLink="/menus">
    <mat-icon>dashboard</mat-icon>
    <span>Meni</span>
  </button>
  <button mat-button routerLink="/meals">
    <mat-icon>restaurant</mat-icon>
    <span>Jela</span>
  </button>
  <button mat-button routerLink="/ingredients">
    <mat-icon>kitchen</mat-icon>
    <span>Namirnice</span>
  </button>
  <button mat-button routerLink="/consumer-quantity">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>Trebovanje</span>
  </button>
  <button mat-button routerLink="/yearly-excel-import">
    <mat-icon>backup icon</mat-icon>
    <span>Nova poslovna godina</span>
  </button>
  <button mat-button routerLink="/kitchen-warehouse">
    <mat-icon>shopping_basket</mat-icon>
    <span>Magacin</span>
  </button>
 
</mat-toolbar>

<router-outlet></router-outlet>