<h1 class="styled-heading">Dodaj jelo</h1>
<form [formGroup]="mealForm" (ngSubmit)="onSubmit()" class="meal-form">
  <mat-form-field class="full-width">
    <mat-label>Ime</mat-label>
    <input matInput formControlName="name" placeholder="Unesite ime jela">
    <mat-error *ngIf="mealForm.get('name')!.hasError('required')">
      Ime jela je obavezno.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Kod</mat-label>
    <input matInput formControlName="code" placeholder="Unesite kod za označavanje jela" type="number">
    <mat-error *ngIf="mealForm.get('code')!.hasError('required')">
      Kod je obavezan.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Datum normiranja</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Izaberite datum">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="mealForm.get('date')!.hasError('required')">
      Datum standardizacije je obavezan.
    </mat-error>
  </mat-form-field>

  <div style="margin: 15px;">
    <mat-label for="breadCheckbox" style="font-size: larger;">Da li se hleb poslužuje uz jelo?</mat-label>
    <mat-checkbox id="breadCheckbox" formControlName="isBreadIncluded"></mat-checkbox>
  </div>

  <div formArrayName="types" class="dish-types">
    <div *ngFor="let type of types.controls; let i = index" class="checkbox-container">
      <input type="checkbox" [formControlName]="i" id="type{{i}}">
      <label for="type{{i}}">{{ dishTypes[i] }}</label>
    </div>
  </div>

  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i" class="ingredient-pair">
      <mat-form-field class="ingredient-field">
        <mat-label>Namirnica</mat-label>
        <input type="text" matInput formControlName="ingredient" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayName">
          <mat-option *ngFor="let option of ingredientFilteredOptions[i] | async" [value]="option">
            {{ option.name }} ({{ option.unit.shortName }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="ingredient-field">
        <mat-label>Količina</mat-label>
        <input matInput type="number" formControlName="quantity" placeholder="Unesi količinu">
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeIngredient(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <button mat-button (click)="addNewIngredient()">Dodaj namirnicu</button>
  <button mat-raised-button color="primary" type="submit">Sačuvaj jelo</button>
</form>